<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      
      <!-- Centered Search Bar -->
      <div class="search-bar-container mx-auto">
        <div class="search-bar">
          <div class="search-section" id="location">Anywhere</div>
          <div class="search-divider"></div>
          <div class="search-section" id="dates">Any week</div>
          <div class="search-divider"></div>
          <div class="search-section" id="guests">Add guests</div>
          <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
      
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your Home</a>
        <% if(!currentUser){ %>
          <div class="oval">
            <a class="nav-link nav-oval1" href="/signup"><b>SignUp</b></a>
            <div class="oval-separator"></div>
            <a class="nav-link nav-oval2" href="/login"><b>Log in</b></a>
          </div>
        <% } %>
        <% if(currentUser){ %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<div id="overlay-white-screen">
  <div class="overlay-content">
    <a href="/listings/new" class="btn btn-dark m-2">Airbnb your Home</a><br />
    <a href="/signup" class="btn btn-outline-primary m-2">SignUp</a><br />
    <a href="/login" class="btn btn-outline-secondary m-2">Log in</a>
  </div>
</div>
